<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.pass}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/AccountMapper.xml"/>
        <mapper resource="mappers/CustomerMapper.xml"/>
        <mapper resource="mappers/TransactionMapper.xml"/>
        <mapper resource="mappers/TransferMapper.xml"/>
        <mapper resource="mappers/AddressMapper.xml"/>
        <mapper resource="mappers/CardMapper.xml"/>
        <mapper resource="mappers/CurrencyMapper.xml"/>
        <mapper resource="mappers/IdentityDocumentMapper.xml"/>
        <mapper resource="mappers/LoanMapper.xml"/>
        <mapper resource="mappers/LoanPaymentMapper.xml"/>
        <mapper resource="mappers/NotificationMapper.xml"/>
        <mapper resource="mappers/RewardMapper.xml"/>
    </mappers>
</configuration>